<div class="col-md-12">
  <div id="panel-log-in" class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Log In</h1>
    </div>
    <div class="panel-body">
      <form id="log-in-form">
        <div class="input-group marg-sm">
          <span class="input-group-addon">Username</span>
          <input type="text" ng-model="unid" class="form-control">
        </div>
        <div class="input-group marg-sm">
          <span class="input-group-addon">Password</span>
          <input type="password" ng-model="password" class="form-control">
        </div>
        <div class="centered marg-sm pad-top-sm">
          <button type="submit" ng-click="login(unid, password)" class="btn btn-primary">
            <span class="btn-text">Submit</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
