/*=======
body properties
=======*/

body {
  background-color: #F1F1F1;
}

video {
  width: 100%;
}

a:hover {
  text-decoration: none;
}



/*=======
navbar properties
=======*/

#navbar-upper {
  height: 5em;
  margin: 0 0 0 0;
  border: none;
  border-radius: 0;
  background-color: #00ACED;
}

#logo-text {
  font-size: 2.05em;
  color: #FFFFFF;
}

#logo-text > small {
  color: #696969;
}

#logo-link #logo-text > strong{
  transition: color ease-in-out .2s;
}

#logo-link:hover #logo-text > strong{
  color: #696969;
}

#navbar-lower {
  border: none;
  border-radius: 0;
  background-color: #3D3D3D;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  color: #00ACED;
  background-color: #3D3D3D;
}

.dropdown-menu {
  border: none;
  border-radius: 0;
  box-shadow: 0 11px 12px rgba(0,0,0,0.176);
  background-color: #4D4D4D;
  opacity: .9;
  -webkit-animation: slide-in-top .2s;
  -moz-animation: slide-in-top .2s;
  -o-animation: slide-in-top .2s;
  animation: slide-in-top ease-in-out .15s;
}

.dropdown-menu > li > a {
  color: #F1F1F1;
}

.dropdown-menu > li > a:hover {
  background-color: #2A2A2A;
  color: #F1F1F1;
}

.navbar-nav > li > .dropdown-menu {
  top: 115%;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: #00ACED;
  background-color: #3D3D3D;
}

.navbar-nav > li > a {
  padding: 15px 15px;
  transition: color ease-in-out .2s;
}

.nav-bottom-bar {
  width: 0%;
  height: 5px;
  margin: 0 auto;
  background-color: #00ACED;
  transition: width ease-in-out .2s;
}

.navbar-inverse .navbar-nav > .active > .nav-bottom-bar {
  width: 80%;
}

.navbar-inverse .navbar-nav > li:hover > .nav-bottom-bar {
  width: 100%;
}





/*=======
jumbotron properties
=======*/

.jumbotron {
  border: none;
  color: #F1F1F1;
  background-color: #3D3D3D;
}

.container .jumbotron,
.container-fluid .jumbotron {
  border-radius: 0;
}


/*=======
panel properties
=======*/

.panel {
  border: none;
  border-radius: 0;
  background-color: #2A2A2A;

  -webkit-animation: slide-in-top ease-in-out .15s;
  -moz-animation: slide-in-top ease-in-out .15s;
  -o-animation: slide-in-top ease-in-out .15s;
  animation: slide-in-top ease-in-out .15s;
}

.panel-heading {
  border: none;
  border-radius: none;
}

.panel-default > .panel-heading {
  color: #FFFFFF;
  background-color: #3D3D3D;
}

#panel-log-in {
  width: 60%;
  margin: 0 auto;
}

#log-in-form {
  text-align: center;
}

.padd-xs {
  padding: 5px;
}

.marg-sm {
  margin: 1em;
}

.marg-top-sm {
  margin-top: 20px;
}

.pad-top-sm {
  padding-top: 1em;
}

.details-panel {
  padding: 20px;
  background-color: #3D3D3D;
  color: #F1F1F1;
}

.details-panel h4 {
  display: inline-block;
}

.details-play {
  width: 100%;
}

.panel-movie-holder {
  display: inline-block;
  float: none;

  -webkit-transition: transform ease-in-out .15s;
  -moz-transition: transform ease-in-out .15s;
  -o-transition: transform ease-in-out .15s;
  transition: transform ease-in-out .15s;
}

.panel-movie-holder:hover {
  -ms-transform: translateY(-3%);
  -webkit-transform: translateY(-3%);
  transform: translateY(-3%);
}

.panel-movie .panel-body {
  padding: 0;
}

.panel-movie .panel-footer {
  background-color: #3D3D3D;
  border-radius: 0;
  color: #F1F1F1;
  font-size: 14px;
}

.panel-movie .movie-title-text {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}

#panel-add-movie .panel-body {
  padding: 15px 0;
}

/*=======
panel tile properties
=======*/

.panel-tile {
  height: 100px;
  margin-bottom: 1.1em;
}

.panel-tile-body {
  line-height: 7em;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
  background-color: #696969;
  transition: all ease-in-out .2s;
}

.tile-text {
  text-align: center;
  vertical-align: middle;
  line-height: 7em;
}

.panel-tile-body h3{
  margin: 0;
  display: inline-block;
}

.panel-tile:hover > .panel-tile-body {
  transform: scale(1.1);
  color: #555555;
  background-color: #F1F1F1;
}

.panel-title {
  display: inline-block;
  line-height: 31px;
}

.panel-upload {
  color: #F1F1F1;
}

.panel-upload span.file-title {
  display: block;
  float: left;
  width: 30%;
  text-align: center;
}

.panel-upload span.file-progress {
  display: block;
  float: left;
  height: 20px;
  width: 60%;
  background-color: #696969;
  text-align: center;
}

.panel-upload span.file-cancel {
  display: block;
  float: left;
  width: 10%;
  text-align: center;
}

.file-progress-bar {
  width: 0px;
  background-color: #00ACED;
  height: 20px;
}


/*=======
button properties
=======*/

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 0;
  font-size: 16px;
}

.btn-primary {
  color: #F1F1F1;
  background-color: #696969;
  transition: all ease-in-out .2s;
}

.btn-primary:hover {
  color: #555555;
  background-color: #00ACED;
}


.btn-tile {
  height: 100%;
  width: 100%;
}

a.btn-tile {
  padding: 0;
}

a.btn-tile > span.btn-text {
  line-height: 100px;
}

.btn-text {
  display: block;
}

.see-more-btn {
  float: right;
  padding: 4px 10px;
}


/*=======
form properties
=======*/

.form-control {
  border: none;
  border-radius: 0;
  color: #555555;
  background-color: #F1F1F1;
}

.input-group-addon {
  border: 1px solid #696969;
  border-radius: 0;
  color: #F1F1F1;
  background-color: #696969;
}

.form-full-group {
  margin-bottom: 20px;
}

.form-half-group {
  width: 50%;
  float: left;
  padding: 0 5px;
}

.form-half-group .form-half-group-title {
  margin-bottom: 5px;
  padding: 6px;
  color: #F1F1F1;
  background-color: #696969;
  text-align: center;
}

.form-half-group .input-group {
  width: 100%;
  padding: 5px 0;
}




/*=======
img properties
=======*/

.img-tile {
  margin-bottom: 1em;
  cursor: pointer;
}

.img-tile:hover > a > .img-movie {
  transform: scale(1.1);
}

.img-movie {
  width: 100%;
  transition: all ease-in-out .2s;
}

.details-img {
  width: 100%;
}


/*=======
tag properties
=======*/

.movie-tag {
  display: inline-block;
  margin: 5px 10px 5px 0;
  padding: 3px 7px;
  color: #555555;
  background-color: #F1F1F1;

}



/*=======
admin properties
=======*/

.admin-panel .btn {
  width: 100%;
  margin: 15px 0;
}

select {
  width: 100%;
  border-radius: 0;
  border: none;
  height: 34px;
}


.centered {
  text-align: center;
}

#add-movie-preview {

}

#add-movie-preview img {
  width: 100%;
}

.drop-add-movie {
  height: 100px;
  width: 100%;
  margin-top: 20px;
  background-color: #3D3D3D;
  text-align: center;

  -webkit-transition: background-color ease-in-out .15s;
  -moz-transition: background-color ease-in-out .15s;
  -o-transition: background-color ease-in-out .15s;
  transition: background-color ease-in-out .15s;
}

.drop-add-movie span {
  position: relative;
  top: 40%;
  color: #696969;
}

.form-full-submit {
  display: block;
  width: 100%;
  padding: 5px;

}

.form-full-submit button{
  width: 100%;
}

.marg-top-xs {
  margin-top: 20px;
}
