<div class="col-md-12">
  <div class="jumbotron">
    <h1>zubercloud administration</h1>
    <p>Select a link below to begin.</p>
  </div>
  <div class="panel panel-default admin-panel">
    <div class="panel-heading">
      <h1 class="panel-title">Admin Functions</h1>
    </div>
    <div class="panel-body">
      <div class="col-md-3">
        <a href="#!/admin/user/add" class="btn btn-primary">
          <span class="btn-text">Add User</span>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#!/admin/user/reset" class="btn btn-primary">
          <span class="btn-text">Reset User Password</span>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#!/admin/movie/add" class="btn btn-primary">
          <span class="btn-text">Upload Movie</span>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#!/admin/movie/edit" class="btn btn-primary">
          <span class="btn-text">Edit Movie</span>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#!/admin/movie/remove" class="btn btn-primary">
          <span class="btn-text">Remove Movie</span>
        </a>
      </div>
    </div>
  </div>
</div>
